<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;D:\Desarrollo_TCFA\Leo\toyota-ecore\bin\Release\netcoreapp2.2\eCore.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <!--Agregado por tamaño de caracteres 2000 en el abm cobertura-->
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="32768" />
        </requestFiltering>
      </security>
      <!--FIN Agregado por tamaño de caracteres 2000 en el abm cobertura-->
    </system.webServer>
    <!--Agregado por tamaño de caracteres 2000 en el abm cobertura-->
    <system.web>
      <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" />
    </system.web>
    <!--FIN Agregado por tamaño de caracteres 2000 en el abm cobertura-->
  </location>
</configuration>